* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.link-like {
	color: var(--nord6);
}

.navbar {
	background-color: var(--nord0);
	color: inherit;

	height: 100px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

.nav-link-dropdown {
	position: relative;
}

.nav-link-dropdown:hover .nav-dropdown {
	display: block;
}

.navbar-links a {
	color: var(--nord4);
}

.nav-menu {
	display: flex;
	gap: 1em;
	font-size: 18px;
}

.nav-menu li {
	padding: 8px 14px;
}

.nav-menu li:hover {
	background-color: var(--nord1);
	border-radius: 5px;
	transition: 0.3s ease;
}

.nav-dropdown {
	margin-top: 2.5px;
	background-color: var(--nord2);

	padding: 1em 0;
	position: absolute;
	display: none;
	border-radius: 8px;
}

.nav-dropdown li + li {
	margin-top: 10px;
}

.nav-dropdown li {
	padding: 0.5em 1em;
	width: 8em;

	text-align: center;
}

.nav-dropdown li:hover {
	background-color: var(--nord0);
}

.icon {
	color: var(--nord6);
	font-size: 32px;
	font-family: cursive;
	font-style: italic;
}

a {
	text-decoration: none;
}

.navbar li {
	list-style: none;
}

/* Responsive nav-menu */
.navbar input[type=checkbox] {
	display: none;
}

.nav-hamburger {
	display: none;
	font-size: 24px;
	user-select: none;
}

@media (max-width: 768px) {
	.nav-menu {
		display: none;
		position: absolute;
		background-color: var(--nord0);
		right: 0;
		left: 0;
		text-align: center;
		padding: 16px 0;
	}

	.nav-hamburger {
		display: inline;
		padding: 3px;

		color: var(--nord3);

		border: 1px solid var(--nord3);
		border-radius: 5px;
	}

	.nav-menu li + li {
		margin-top: 12px;
	}

	.nav-menu li:hover {
		display: inline-block;
		background-color: var(--nord1);
		transition: 0.3s ease;
	}

	.navbar input[type=checkbox]:checked ~ .nav-menu {
		display: block;
	}

	.nav-dropdown {
		left: 50%;
		top: 30px;
		transform: translateX(30%);
	}

	.nav-dropdown li:hover {
		background-color: var(--nord0);
	}
}
